<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://fonts.cdnfonts.com/css/tiro-devanagari-marathi" rel="stylesheet">
    <title>Embed Youtube Videos</title>
</head>
<body>
<div class="navbar">
    <!--Title in nav bar-->
    <a class="navbar-title" href="/"><img src="/images/logo.png"></a>
    <!--Links in nav bar-->
    <ul class="nav-links"> 
        <li><a href="/">Home</a></li>
        <!--link to about section of this page-->
        <li><a href="#about">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
<div class="hero">
<h1 class="hero-title">Create a Video Board</h1>
<form action="/video-board" method="get">
    <button type="submit" class="create">Start Here</button>
  </form>
</div>
<div id="about">
    <h2 class="about-title">What is MultiViewer?</h2>
    <p class="about-text">MultiViewer is a powerful and intuitive web application that allows you to create and customize your own video board. With MultiViewer, you can easily display multiple YouTube videos on a single screen, and adjust the size and position of each video to create the perfect layout.</p>
    <p class="about-text">Our advanced functionality allows you to control all videos at the same time, giving you the ability to play, pause, and sync your videos with ease. Whether you're a content creator, educator, or just someone who loves to watch multiple videos at once, MultiViewer is the perfect tool for you.</p>
    <h3 class="about-title" style="padding-top: 40px;">How do I use MultiViewer?</h3>
    <p class="about-text">Getting started is easy - simply click the "Start Here" button above to create your very own video board. This will take you to your personal video board creation page.</p>
    <p class="about-text">To add videos, find the YouTube video you want to watch, copy the link, and paste it into the input box. Then click the "Display Video" button. Repeat this process for all the videos you want to add.</p>
    <p class="about-text">Once you've added all the videos you want to watch, you can adjust the size and position of each video by dragging the handlebar at the top and resizing using the arrow on the bottom right of each video. This allows you to create the perfect layout for your viewing experience.</p>
    <p class="about-text">When you're done, sit back, relax, and enjoy your custom video board! Remember to save the unique URL for your board so you can come back to it anytime you want.</p>
</div>
</body>
</html>