<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link
      href="https://fonts.cdnfonts.com/css/tiro-devanagari-marathi"
      rel="stylesheet"
    />
    <title>Embed Youtube Videos</title>
  </head>
  <body>
    <div class="navbar">
      <!--<div class="navbar-content">-->
      <!--Title in nav bar-->
      <a class="navbar-title" href="/"> <img src="/images/logo.png" /></a>
      <!--Links in nav bar
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="#guide">Guide</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>-->
    </div>
    <div class="hero">
      <div class="hero-box">
          <h1>Create Your Ultimate</h1>
          <h1>Video Board</h1>
          <form action="/video-board" method="get">
            <button type="submit" class="create">Start Here</button>
          </form>
        </div>
      </div>
    </div>
    <div class="guide-section">
      <h2 id="guide">Guide</h2>
      <img src="/images/guide.png" alt="Guide" />
    </div>
    <div class="about-section">
      <h2 id="about">About Us</h2>
      <p>
        MultiViewer is a powerful and intuitive web application that allows you
        to create and customize your own video board. With MultiViewer, you can
        easily display multiple YouTube videos on a single screen, and adjust
        the size and position of each video to create the perfect layout. Our
        advanced functionality allows you to control all videos at the same
        time, giving you the ability to play, pause, and sync your videos with
        ease. Whether you're a content creator, educator, or just someone who
        loves to watch multiple videos at once, MultiViewer is the perfect tool
        for you.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique
        vulputate est, sed vestibulum odio. Etiam hendrerit ante eu mi semper
        elementum. Praesent ac mauris facilisis, accumsan nunc ac, mattis augue.
        Aenean mattis aliquet sem, eu dictum massa vehicula a. Phasellus cursus
        placerat est, non aliquam lectus dictum commodo. Aliquam lobortis
        tristique metus. Integer in mattis diam, nec tempor arcu. Donec aliquam
        mauris vel nisl pretium, ut imperdiet nulla congue. Vestibulum ut
        efficitur elit. Suspendisse laoreet blandit arcu, sed euismod sapien
        egestas sed. Aliquam accumsan massa a dictum laoreet. Aliquam ornare
        lorem quis enim efficitur pellentesque. Ut eu blandit diam. Sed ut
        varius sem. Quisque dapibus luctus lacinia. Integer et rutrum purus, in
        varius leo. Sed eu pellentesque metus, eu hendrerit enim. Suspendisse
        potenti. Nulla lacinia nec orci sollicitudin efficitur. Mauris non
        vulputate tortor, ac malesuada orci. Fusce mollis imperdiet dui.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Maecenas ultricies purus in magna lacinia porttitor. Sed
        vel tempor risus. Vestibulum facilisis dictum quam, sed rhoncus urna
        sodales eget. Cras elementum eget tellus id gravida. Quisque luctus,
        mauris nec sollicitudin pulvinar, lectus dolor consequat leo, eget
        ornare sem ex ut tellus. Duis felis orci, molestie ut eros et, convallis
        volutpat elit. Curabitur nec ipsum ac urna sagittis finibus.
      </p>
    </div>
  </body>
</html>
